<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {
        margin: 0;
        padding: 2em;
        font-family: "helvetica neue", "sans-serif";
        font-size: 14px;
      }

      html {
        margin: 0;
        padding: 0;
      }

      .info {
        display: flex;
        align-items: baseline;
        border-bottom: solid thin black;
      }

      .info .name {
        font-size: 40px;
        flex-grow: 1;
      }

      .info .contact {
        font-weight: 300;
      }

      .job {
        margin: 1em 0;
      }

      .job .header {
        display: flex;
        align-items: baseline;
      }

      .job .subheader {
        display: flex;
        align-items: baseline;
        margin-bottom: 0.3em;
      }

      .job .header > div {
        padding-right: 5px;
      }

      .job .header .employment {
        padding-right: 0;
        font-weight: 300;
      }

      .job .business {
        font-size: 20px;
        font-weight: bold;
      }

      .job .location {
        font-weight: 200;
        flex-grow: 1;
      }

      .job .title {
        font-size: 18px;
        font-weight: 300;
        flex-grow: 1;
        position: relative;
      }

      .job .title .wrapper {
        border-bottom: solid 2px rgba(0,0,0,0.5);
      }

      .languages {
        font-size: 10px;
        font-family: monospace;
      }

      .language {
        padding: 3px;
        border-radius: 5px;
        border: solid thin rgba(0,0,0,0.5);
      }

      .gpa {
        font-family: monospace;
      }

      .projects {
        margin-left: 1em;
        font-weight: 300;
      }

      .project {
        margin: 0.2em 0;
      }

    </style>
  </head>
  <body>
    <header class="info">
      <div class="name">{{owner.firstname}} {{owner.lastname}}</div>
      <div class="contact">{{owner.email}}</div>
    </header>
    <section class="professional">
      {{#each job}}
        <section class="job">
          <div class="header">
            <div class="business">{{business}}</div>
            <div class="location">{{location}}</div>
            {{#if end}}
            <div class="employment">{{formatDate start month="long" year="numeric"}} - {{formatDate end month="long" year="numeric"}}</div>
            {{else}}
            <div class="employment">{{formatDate start month="long" year="numeric"}} - Present</div>
            {{/if}}
          </div>
          <div class="subheader">
            <div class="title"><span class="wrapper">{{title}}</span></div>
            <div class="languages">
              {{#each this.languages}}
                <span class="language">{{this}}</span>
              {{/each}}
            </div>
          </div>
          <div class="projects">
            {{#each this.projects}}
              <div class="project">{{this}}</div>
            {{/each}}
          </div>
        </section>
      {{/each}}
    </section>
    <section class="education">
      {{#each degree}}
        <section class="job">
          <div class="header">
            <div class="business">{{institution}}</div>
            <div class="location">{{location}}</div>
            <div class="employment">{{formatDate start month="long" year="numeric"}} - {{formatDate end month="long" year="numeric"}}</div>
          </div>
          <div class="subheader">
            <div class="title"><span class="wrapper">{{title}}</span></div>
            <div class="gpa"><span class="label">GPA:</span> <span class="earned">{{gpa.earned}}</span> / <span class="max">{{gpa.max}}</span></div>
          </div>
          <div class="projects">
            {{#each this.accolades}}
            <div class="project">{{this}}</div>
            {{/each}}
          </div>
        </section>
      {{/each}}
    </section>
  </body>
</html>
